

<div class="bg pt-4">
  <div class="d-flex justify-content-center align-items-center">
    <img class="bg img-fluid img-logo" src="./assets/logo2.png" alt="">
    <div class="tlog">
      <span [ngClass]="{'log':!log}" class="text-light"><a (click)="openLogin(logi)">LOG IN</a> <span class="text-muted">//</span> <a id="regis" (click)="openLogin(register)">SING UP</a></span>
      <span [ngClass]="{'log':log}" class="text-light" (click)="sesionClose()">Close</span>
    </div>
  </div>

<app-nav></app-nav>

</div>


<ng-template #logi let-modal>
  <div class="modal-body cont">
    <h1 class="logo logo-primary">Disney Account Star Wars</h1>
  </div>
  <section class="cont">
    <h2 class="title title-primary ng-scope" ng-if="!vm.fromLicensePlate">
      <span did-translate="login.header.PRIMARY" class="ng-isolate-scope">Sign In</span>
    </h2>
    <form class="form-f" [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="mw-form form-group">
        <input class="ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-touched" formControlName="username" placeholder="Username" name="username" type="text">
    </div>
    <div class="mw-form form-group">
      <input class="ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-touched" formControlName="password" placeholder="Password" name="password" type="password" value="">
    </div>
    <div class="btn-group touch-print-btn-group-wrapper"><button class="btn btn-dark btn-submit ng-isolate-scope" type="submit" did-translate="login.label.SIGNIN" aria-label="Sign In" tabindex="0">Log In</button></div>
    </form>
    <span [ngClass]="{'err':!error}">Campos vacios o usuario y contraseña incorrectos</span>
  </section>
</ng-template>

<ng-template #register let-modal>
  <div class="modal-body cont">
    <h1 class="logo logo-primary">Disney Account Star Wars</h1>
  </div>
  <section class="cont">
    <h2 class="title title-primary ng-scope" ng-if="!vm.fromLicensePlate">
      <span did-translate="login.header.PRIMARY" class="ng-isolate-scope">Sign In</span>
    </h2>
    <form class="form-f" [formGroup]="registerForm" (ngSubmit)="reg()">
      <div class="mw-form form-group">
        <input class="ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-touched" formControlName="username" placeholder="Username" name="username" type="text">
    </div>
    <div class="mw-form form-group">
      <input class="ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-touched" formControlName="password" placeholder="Password" name="password" type="password" value="">
    </div>
    <div class="mw-form form-group">
      <input class="ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-touched" formControlName="repeatpassword" placeholder="Password" name="repeatpassword" type="password" value="">
    </div>
    <div class="btn-group touch-print-btn-group-wrapper"><button class="btn btn-dark btn-submit ng-isolate-scope" type="submit" did-translate="login.label.SIGNIN" aria-label="Sign In" tabindex="0">Sign Up</button></div>
    </form>
    <span [ngClass]="{'err':!error}">Campos vacios o las contraseñas no coinciden</span>
  </section>
</ng-template>

<router-outlet></router-outlet>